.tm-logo-div img {
    width: 10vw;
}

.tm-logo-div {
    padding-top: 0px;
    padding-bottom: 0px;
}

.tm-main-nav {
    line-height: 1;
}

h2 {
    text-align: center;
}

.address img {
    width: 5vh;
}

.phone_address {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header {
    background-image: url(../img/header.png);
    height: 70vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    margin: 20px auto;
}

.header h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #3F51B5;
    text-shadow: red 1px 1px 0, red -1px -1px 0, red -1px 1px 0, red 1px -1px 0;
}

.header h3 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2;
    color: #3F51B5;
    text-shadow: red 1px 1px 0, red -1px -1px 0, red -1px 1px 0, red 1px -1px 0;
}

.header a {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2;
    color: #3F51B5;
    text-shadow: red 1px 1px 0, red -1px -1px 0, red -1px 1px 0, red 1px -1px 0;
}

.btn {
    margin: 0.3em;
}